<html>
<head>
	<title><%= @title %></title>
	<meta charset ="utf-8">
	<%= css :reset, :style %>
	<link rel="icon" type="image/png" href="<%= url('/icon.png') %>">
</head>
<body>
	<header>
		<h1>Songs by Sinatra</h1>
		<nav>
			<ul id="nav">
				<li><a href="/" title="Home" class=<%= current? %>>Home</a></li>
				<li><a href="/about" title="About" class=<%= current?('/about') %>>About</a></li>
				<li><a href="/contact" title="Contact" class=<%= current?("/contact") %>>Contact</a></li>
				<li><a href="/songs" title="Songs" class=<%= current?("/songs") %>>Songs</a></li>
			</ul>
		</nav>
	</header>
	<div class="spacer"></div>
	<section>
		<%= styled_flash %>
		<%= yield %>
	</section>
</body>
</html>