<html>
<head>
	<title><%= @title %></title>
	<meta charset ="utf-8">
	<%= css :reset, :style %>
	<link rel="icon" type="image/png" href="<%= url('/icon.png') %>">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/javascripts/application.js"></script>
	
</head>
<body>
	<header>
		<h1>Songs by Sinatra</h1>
		<nav>
			<ul id="nav">
				<li><a href="/" title="Home" class=<%= current? %>>Home</a></li>
				<li><a href="/about" title="About" class=<%= current?('/about') %>>About</a></li>
				<li><a href="/contact" title="Contact" class=<%= current?("/contact") %>>Contact</a></li>
				<li><a href="/songs" title="Songs" class=<%= current?("/songs") %>>Songs</a></li>
			</ul>
		</nav>
	</header>
	<div class="spacer"></div>
	<section>
		<%= styled_flash %>
		<%= yield %>
	</section>
	<footer>
		<% if authorized? %>
			<a href="/logout">logout</a>
		<% else %>
			<a href="/login">login</a>
		<% end %>
	</footer>
</body>
</html>