<html>
<head>
	<title><%= @title || "Songs By Sinatra" %></title>
	<meta charset ="utf-8">
	<link href="<%= url('/reset.css') %>" rel="stylesheet" type="text/css" />
	<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/png" href="<%= url('/icon.png') %>">
</head>
<body>
	<header>
		<h1>Songs by Sinatra</h1>
		<nav>
			<ul id="nav">
				<li><a href="/" title="Home">Home</a></li>
				<li><a href="/about" title="About">About</a></li>
				<li><a href="/contact" title="Contact">Contact</a></li>
				<li><a href="/songs" title="Songs">Songs</a></li>
			</ul>
		</nav>
	</header>
	<div class="spacer"></div>
	<section>
		<%= yield %>
	</section>
</body>
</html>